/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&amp;display=swap");
body {
  line-height: 1.6;
  font-weight: 400;
  color: #484848;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 500;
  margin-top: 0px;
  font-weight: 400;
  line-height: 1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.img-full {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

a {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #E72463;
}

a,
button,
i {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a,
a:hover,
a:focus,
a:active,
button,
button:focus,
.btn,
.btn:focus,
input,
input:focus,
select,
textarea,
.slick-slide {
  text-decoration: none;
  outline: 0;
}

input.input-field {
  border: 1px solid #dddddd;
}

textarea.textarea-field {
  border: 1px solid #dddddd;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  line-height: 15px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid #dddddd;
  content: "";
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

input[type="checkbox"] + label:after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "\f00c";
  font-family: 'FontAwesome';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  opacity: 0;
  width: 15px;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #E72463;
}

input[type="checkbox"]:checked + label:before {
  border: 1px solid #E72463;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

button,
.btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

hr {
  margin: 60px 0;
  padding: 0px;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}

.mark,
mark {
  background: #E72463 none repeat scroll 0 0;
  color: #ffffff;
}

/* ---Font Style--- */
.font-style_italic {
  font-style: italic;
}

/* ---Line Height--- */
.line-height-1 {
  line-height: 1;
}

/*----------------------------------------*/
/*    02 - Global - Helper
/*----------------------------------------*/
/*--- Custom Container, row and col  ---*/
@media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  
  .container.custom-area {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .container.custom-area .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .container.custom-area .col-custom {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .container.custom-area-2 .col-custom {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .container-fluid {
    padding: 0 50px;
  }
  
  .container-fluid .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .container-fluid .col-custom {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (max-width: 1199px) {
    .container-fluid {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 767px) {
    .container-fluid {
      padding: 0 15px;
    }
  }
  
  /*-- Boxed Home Layout --*/
  .boxed-layout {
    -webkit-box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
            box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
    max-width: 90%;
    margin: auto;
  }
  
  /* --- Preloader---*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 99999999;
  }
  
  .preloader {
    display: inline-block;
    padding: 0px;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  @-webkit-keyframes scale-2 {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes scale-2 {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
  }
  
  .preloader .spinner.spinner-3:before {
    width: 50px;
    height: 50px;
    border-color: #E72463;
    top: 0px;
    left: 0px;
    -webkit-animation: scale-2 .8s linear 0s infinite;
            animation: scale-2 .8s linear 0s infinite;
  }
  
  .preloader .spinner.spinner-3:after {
    width: 50px;
    height: 50px;
    border-color: #E72463;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-animation: scale-2 .8s linear 0.5s infinite;
            animation: scale-2 .8s linear 0.5s infinite;
  }
  
  .spinners .spinner-block {
    width: 50px;
    text-align: center;
    margin-right: 83px;
    line-height: 30px;
  }
  
  .spinners .spinner-block:nth-child(5n) {
    margin-right: 0px;
  }
  
  .spinner {
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
  }
  
  .spinner:before, .spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
  }
  
  /* --- Section title ---*/
  .section-title .section-title-1 {
    color: #E72463;
    font-size: 22px;
    font-weight: 600;
    line-height: 34px;
    display: inline-block;
    letter-spacing: 3px;
    margin: 0 0 15px 0;
    position: relative;
    font-family: "Great Vibes", cursive;
  }
  
  @media (max-width: 479px) {
    .section-title .section-title-1 {
      font-size: 18px;
      line-height: 22px;
    }
  }
  
  .section-title .section-title-3 {
    font-size: 36px;
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }
  
  @media (max-width: 991px) {
    .section-title .section-title-3 {
      font-size: 32px;
      padding-bottom: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .section-title .section-title-3 {
      font-size: 30px;
    }
  }
  
  @media (max-width: 479px) {
    .section-title .section-title-3 {
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 10px;
    }
  }
  
  .section-title .section-title-2 {
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    color: #010101;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  @media (max-width: 575px) {
    .section-title .section-title-2 {
      font-size: 24px;
    }
  }
  
  @media (max-width: 575px) {
    .section-title .section-title-2 {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 10px;
    }
  }
  
  .section-title .section-title-large {
    font-size: 80px;
    font-family: "Josefin Slab", serif;
    font-weight: 600;
  }
  
  @media (max-width: 767px) {
    .section-title .section-title-large {
      font-size: 70px;
    }
  }
  
  @media (max-width: 575px) {
    .section-title .section-title-large {
      font-size: 60px;
    }
  }
  
  @media (max-width: 479px) {
    .section-title .section-title-large {
      font-size: 40px;
    }
  }
  
  .section-title2 > p {
    margin: 0 auto 35px auto;
    font-style: italic;
    color: #c9c9c9;
    max-width: 720px;
    text-align: center;
  }
  
  .section-title2.bl-color > h3 {
    color: #444;
  }
  
  .section-title2.bl-color > p {
    color: #222;
  }
  
  /* ---Spacing Between Two Row---*/
  .product-slider .slick-slide div:not(:last-child) .product-item {
    padding-bottom: 55px;
  }
  
  /*-- Scroll To Top --*/
  .scroll-to-top {
    background-color: #E72463;
    color: #ffffff;
    position: fixed;
    right: 50px;
    top: 0%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 999;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    -webkit-transition: .9s;
    -o-transition: .9s;
    transition: .9s;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
  }
  
  .scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    top: 98%;
    -webkit-transform: translateY(-98%);
        -ms-transform: translateY(-98%);
            transform: translateY(-98%);
  }
  
  .scroll-to-top:hover {
    background-color: #000000;
    color: #ffffff;
  }

/* ---Range Slider--- */
.ui-slider-horizontal .ui-slider-range {
    background: #000000;
    height: 2px;
  }
  
  .ui-slider-horizontal {
    height: 2px;
    background: #dbdbdb;
    border: none;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 22px;
  }
  
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #ffffff;
    width: 15px;
    height: 15px;
    top: -7px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #E72463;
  }
  
  .ui-state-default:focus, .ui-widget-content .ui-state-default:focus, .ui-widget-header .ui-state-default:focus {
    outline: none;
    border-radius: 100%;
  }
  
  .widget-list {
    margin-bottom: 30px;
  }
  
  .widget-list form {
    padding-top: 10px;
  }
  
  .widget-list form input {
    background: none;
    border: none;
    font-size: 14px;
    text-align: right;
    line-height: 31px;
    width: 100px;
  }
  
  .widget-list form button {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: capitalize;
    color: #ffffff;
    background: #000000;
    border: 0;
    border-radius: 30px;
  }
  
  .widget-list form button:hover {
    background: #E72463;
  }
  
  /* ---Countdown--- */
  .countdown-wrapper {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ffffff;
    width: 630px;
    margin: 0 auto;
  }
  
  @media (max-width: 767px) {
    .countdown-wrapper {
      width: 440px;
    }
  }
  
  @media (max-width: 479px) {
    .countdown-wrapper {
      width: 280px;
    }
  }
  
  .countdown-wrapper .single-countdown {
    background: none;
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 0 15px;
    position: relative;
    width: auto;
    color: #999;
    display: inline;
    font-size: 14px;
    font-weight: normal;
  }
  
  @media (max-width: 575px) {
    .countdown-wrapper .single-countdown {
      padding: 0 5px;
      margin-bottom: 10px;
    }
  }
  
  .countdown-wrapper .single-countdown:last-child {
    margin-right: 0;
  }
  
  .countdown-wrapper .single-countdown:last-child:after {
    display: none;
  }
  
  .countdown-wrapper .single-countdown:after {
    content: ':';
    display: block;
    font-size: 28px;
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  
  @media (max-width: 575px) {
    .countdown-wrapper .single-countdown:after {
      display: none;
    }
  }
  
  .countdown-wrapper .single-countdown .single-countdown_time {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 40px;
    color: #555555;
    margin-right: 10px;
  }
  
  @media (max-width: 767px) {
    .countdown-wrapper .single-countdown .single-countdown_time {
      font-size: 30px;
    }
  }
  
  @media (max-width: 575px) {
    .countdown-wrapper .single-countdown .single-countdown_time {
      font-size: 20px;
      margin-right: 5px;
    }
  }
  
  .countdown-wrapper .single-countdown .single-countdown_text {
    font-size: 14px;
    line-height: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #999999;
  }
  
  @media (max-width: 575px) {
    .countdown-wrapper .single-countdown .single-countdown_text {
      font-size: 12px;
    }
  }
  
  .countdown-style-2 .single-countdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #000000;
  }
  
  .countdown-style-2 .single-countdown:last-child {
    margin-right: 0;
  }
  
  .countdown-style-2 .single-countdown .single-countdown_time {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 16px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .countdown-style-2 .single-countdown .single-countdown_text {
    font-size: 14px;
    line-height: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000000;
  }
  
  @media (max-width: 479px) {
    .countdown-style-2 .single-countdown .single-countdown_text {
      font-size: 14px;
    }
  }
  
  /* ---Section Space--- */
  .mt-no-text {
    margin-top: 100px;
  }
  
  @media (max-width: 991px) {
    .mt-no-text {
      margin-top: 80px;
    }
  }
  
  @media (max-width: 479px) {
    .mt-no-text {
      margin-top: 50px;
    }
  }
  
  .mt-text-2 {
    margin-top: 66px;
  }
  
  @media (max-width: 991px) {
    .mt-text-2 {
      margin-top: 46px;
    }
  }
  
  @media (max-width: 479px) {
    .mt-text-2 {
      margin-top: 20px;
    }
  }
  
  .mt-text-3 {
    margin-top: 93px;
  }
  
  @media (max-width: 991px) {
    .mt-text-3 {
      margin-top: 73px;
    }
  }
  
  @media (max-width: 479px) {
    .mt-text-3 {
      margin-top: 43px;
    }
  }
  
  .mb-text-3 {
    margin-bottom: 93px;
  }
  
  @media (max-width: 991px) {
    .mb-text-3 {
      margin-bottom: 73px;
    }
  }
  
  @media (max-width: 479px) {
    .mb-text-3 {
      margin-bottom: 43px;
    }
  }
  
  .mt-text-4 {
    margin-top: 80px;
  }
  
  @media (max-width: 991px) {
    .mt-text-4 {
      margin-top: 60px;
    }
  }
  
  @media (max-width: 479px) {
    .mt-text-4 {
      margin-top: 30px;
    }
  }
  
  .mt-text-5 {
    margin-top: 70px;
  }
  
  @media (max-width: 991px) {
    .mt-text-5 {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 479px) {
    .mt-text-5 {
      margin-top: 20px;
    }
  }
  
  .mt-text-6 {
    margin-top: 98px;
  }
  
  @media (max-width: 991px) {
    .mt-text-6 {
      margin-top: 78px;
    }
  }
  
  @media (max-width: 479px) {
    .mt-text-6 {
      margin-top: 48px;
    }
  }
  
  .pt-text-3 {
    padding-top: 93px;
  }
  
  @media (max-width: 991px) {
    .pt-text-3 {
      padding-top: 73px;
    }
  }
  
  @media (max-width: 479px) {
    .pt-text-3 {
      padding-top: 43px;
    }
  }
  
  .pb-text-4 {
    padding-bottom: 98px;
  }
  
  @media (max-width: 991px) {
    .pb-text-4 {
      padding-bottom: 78px;
    }
  }
  
  @media (max-width: 479px) {
    .pb-text-4 {
      padding-bottom: 48px;
    }
  }
  
  .pt-no-text {
    padding-top: 100px;
  }
  
  @media (max-width: 991px) {
    .pt-no-text {
      padding-top: 80px;
    }
  }
  
  @media (max-width: 575px) {
    .pt-no-text {
      padding-top: 50px;
    }
  }
  
  .pt-no-text {
    padding-bottom: 100px;
  }
  
  @media (max-width: 991px) {
    .pt-no-text {
      padding-bottom: 80px;
    }
  }
  
  @media (max-width: 575px) {
    .pt-no-text {
      padding-bottom: 50px;
    }
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .pb-30 {
    padding-bottom: 30px;
  }
  
  .pt-60 {
    padding-top: 60px;
  }
  
  .pt-30 {
    padding-top: 30px;
  }
  
  .mrl-50 {
    margin-right: 50px;
    margin-left: 50px;
  }
  
  @media (max-width: 1199px) {
    .mrl-50 {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .mrl-50 {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  
  .pt-40 {
    padding-top: 40px;
  }
  
  .pb-40 {
    padding-bottom: 40px;
  }
  
  /*--- Image Hover Style ---*/
  .hover-style {
    display: block;
    overflow: hidden;
  }
  
  .hover-style img {
    -webkit-transform: scale(1.01) rotate(0.05deg);
        -ms-transform: scale(1.01) rotate(0.05deg);
            transform: scale(1.01) rotate(0.05deg);
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
  }
  
  .hover-style .overlay-1 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    content: "";
    background-color: #3e3e3e;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  
  .hover-style:hover img {
    -webkit-transform: scale(1.05) rotate(0.05deg);
        -ms-transform: scale(1.05) rotate(0.05deg);
            transform: scale(1.05) rotate(0.05deg);
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
  }
  
  .hover-style:hover .overlay-1 {
    opacity: .2;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  
  /* ---Nice Select Customization--- */
  .myniceselect.nice-select {
    padding: 0;
    margin: 0;
    height: auto;
    line-height: auto;
  }
  
  .myniceselect.nice-select span {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 20px;
  }
  
  .myniceselect.nice-select .list {
    width: 100%;
  }
  
  .myniceselect.nice-select.wide span {
    width: 100%;
  }
  
  /*--- Swiper Pagination Style ---*/
  .swiper-pagination.default-pagination {
    position: relative;
    bottom: 0px;
    line-height: 14px;
  }
  
  .swiper-pagination.default-pagination .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    border: 2px solid #000000;
    background: transparent;
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    outline: 0px;
  }
  
  .swiper-pagination.default-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #E72463;
    border-color: #E72463;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  
  .swiper-pagination.default-pagination .swiper-pagination-bullet:hover {
    background: #E72463;
    border-color: #E72463;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  
  @media (max-width: 991px) {
    .swiper-pagination.default-pagination .swiper-pagination-bullet {
      display: inline-block;
      width: 12px;
      height: 12px;
    }
  }
  
  /*--- Swiper Navigation Style ---*/
  .intro11-carousel-wrap .swiper-button-prev, .intro11-carousel-wrap .swiper-button-next {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transition-duration: 400ms;
         -o-transition-duration: 400ms;
            transition-duration: 400ms;
  }
  
  .intro11-carousel-wrap .swiper-button-prev:focus, .intro11-carousel-wrap .swiper-button-next:focus {
    border: 0px;
    outline: 0px;
  }
  
  .intro11-carousel-wrap .swiper-button-prev:after, .intro11-carousel-wrap .swiper-button-next:after {
    display: none;
  }
  
  .intro11-carousel-wrap .swiper-button-prev i, .intro11-carousel-wrap .swiper-button-next i {
    font-size: 30px;
    color: #000000;
  }
  
  .intro11-carousel-wrap .swiper-button-prev i:hover, .intro11-carousel-wrap .swiper-button-next i:hover {
    color: #E72463;
  }
  
  @media (max-width: 575px) {
    .intro11-carousel-wrap .swiper-button-prev i, .intro11-carousel-wrap .swiper-button-next i {
      font-size: 20px;
    }
  }
  
  .intro11-carousel-wrap .swiper-button-prev {
    left: 50px;
  }
  
  @media (max-width: 1199px) {
    .intro11-carousel-wrap .swiper-button-prev {
      left: 20px;
    }
  }
  
  .intro11-carousel-wrap .swiper-button-next {
    right: 50px;
  }
  
  @media (max-width: 1199px) {
    .intro11-carousel-wrap .swiper-button-next {
      right: 20px;
    }
  }
  
  .intro11-carousel-wrap:hover .swiper-button-prev, .intro11-carousel-wrap:hover .swiper-button-next {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transition-duration: 400ms;
         -o-transition-duration: 400ms;
            transition-duration: 400ms;
  }
  
  .intro11-carousel-wrap.arrow-style-2 .swiper-button-prev {
    left: 1px;
  }
  
  @media (max-width: 1199px) {
    .intro11-carousel-wrap.arrow-style-2 .swiper-button-prev {
      left: 1px;
    }
  }
  
  .intro11-carousel-wrap.arrow-style-2 .swiper-button-next {
    right: 0px;
  }
  
  @media (max-width: 1199px) {
    .intro11-carousel-wrap.arrow-style-2 .swiper-button-next {
      right: 0px;
    }
  }
  
  .intro11-carousel-wrap.arrow-style-3 .swiper-button-prev {
    left: 15px;
  }
  
  @media (max-width: 767px) {
    .intro11-carousel-wrap.arrow-style-3 .swiper-button-prev {
      left: 1px;
    }
  }
  
  .intro11-carousel-wrap.arrow-style-3 .swiper-button-next {
    right: 15px;
  }
  
  @media (max-width: 767px) {
    .intro11-carousel-wrap.arrow-style-3 .swiper-button-next {
      right: 0px;
    }
  }
  
  /* ---Bootstrap No Gutters--- */
  .no-gutters {
    margin-right: 0px;
    margin-left: 0px;
  }
  
  /* ---Tooltip--- */
  .tooltip {
    z-index: 10;
  }
  
  .tooltip-inner {
    padding: 0 10px;
    height: 25px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    font-size: 10px;
    background-color: #E72463;
    text-indent: 0;
  }
  
  .tooltip.bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before,
  .tooltip.bs-tooltip-top .arrow::before {
    content: "";
    border-width: 5px 5px 0;
  }
  
  .tooltip.bs-tooltip-auto[x-placement^=top] .tooltip-arrow::before,
  .tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #E72463;
  }
  
  .bs-tooltip-auto[x-placement^=bottom] .tooltip-arrow::before,
  .bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #E72463;
  }
  
  .tooltip.bs-tooltip-auto[x-placement^=right] .tooltip-arrow::before,
  .tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #E72463;
  }
  
  .bs-tooltip-auto[x-placement^=left] .tooltip-arrow::before,
  .bs-tooltip-left .tooltip-arrow::before {
    border-left-color: #E72463;
  }
  
  .product-rating i {
    font-size: 16px;
    color: #E72463;
  }
  
  /* --- Pagination --- */
  @media (max-width: 479px) {
    .pagination {
      margin-bottom: 10px;
    }
  }
  
  .pagination ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 3px;
    margin-left: 3px;
  }
  
  .pagination ul li:first-child {
    margin-left: 0;
  }
  
  .pagination ul li a {
    display: block;
    border-radius: 3px;
  }
  
  .pagination ul li a:hover {
    background: #E72463;
    color: #ffffff;
  }
  
  .pagination ul li.current {
    background: #E72463;
    color: #ffffff;
  }
  
  .pagination ul li.next {
    width: 40px;
  }
  
  /* ---Google Maps--- */
  .google-map-area #googleMap {
    width: 100%;
    height: 500px;
  }
  
  @media (max-width: 767px) {
    .google-map-area #googleMap {
      height: 400px;
    }
  }
  
  @media (max-width: 575px) {
    .google-map-area #googleMap {
      height: 400px;
    }
  }
  
  /* --- Social Widgets --- */
  .widget-social a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
  }
  
  /* --- Quantity --- */
  .quantity-with_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
  }
  
  .quantity {
    margin-right: 10px;
  }
  
  .quantity .cart-plus-minus {
    position: relative;
    width: 150px;
    text-align: left;
    height: 45px;
    overflow: hidden;
  }
  
  .quantity .cart-plus-minus > .cart-plus-minus-box {
    border: 1px solid #dddddd;
    height: 45px;
    text-align: center;
    width: 150px;
    background: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }
  
  .quantity .cart-plus-minus > .qtybutton {
    cursor: pointer;
    position: absolute;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    width: 35px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    color: #000000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  
  .quantity .cart-plus-minus > .qtybutton:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-color: #E72463;
    color: #ffffff;
  }
  
  .quantity .cart-plus-minus > .qtybutton.dec {
    top: 50%;
    left: 0%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    border-right: 1px solid #dddddd;
  }
  
  .quantity .cart-plus-minus > .qtybutton.inc {
    top: 50%;
    right: 0%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    border-left: 1px solid #dddddd;
  }
  
  /*----------------------------------------*/
  /*    03 - Global - Color
  /*----------------------------------------*/
  .primary-color {
    color: #E72463;
  }
  
  .facebook-color {
    color: #3B5998;
  }
  
  .facebook-color:hover {
    color: #E72463;
  }
  
  .twitter-color {
    color: #55ACEE;
  }
  
  .twitter-color:hover {
    color: #E72463;
  }
  
  .linkedin-color {
    color: #2867B2;
  }
  
  .linkedin-color:hover {
    color: #E72463;
  }
  
  .pinterest-color {
    color: #DF0022;
  }
  
  .pinterest-color:hover {
    color: #E72463;
  }
  
  .youtube-color {
    color: #c4302b;
  }
  
  .youtube-color:hover {
    color: #E72463;
  }
  
  .vimeo-color {
    color: #86c9ef;
  }
  
  .vimeo-color:hover {
    color: #E72463;
  }
  
  /*-- Social Color Background --*/
  .facebook-color-bg {
    background-color: #3B5998;
    color: #ffffff;
  }
  
  .facebook-color-bg:hover {
    background-color: #E72463;
    color: #ffffff;
  }
  
  .twitter-color-bg {
    background-color: #55ACEE;
    color: #ffffff;
  }
  
  .twitter-color-bg:hover {
    background-color: #E72463;
    color: #ffffff;
  }
  
  .linkedin-color-bg {
    background-color: #2867B2;
    color: #ffffff;
  }
  
  .linkedin-color-bg:hover {
    background-color: #E72463;
    color: #ffffff;
  }
  
  .pinterest-color-bg {
    background-color: #DF0022;
    color: #ffffff;
  }
  
  .pinterest-color-bg:hover {
    background-color: #E72463;
    color: #ffffff;
  }
  
  .youtube-color-bg {
    background-color: #c4302b;
    color: #ffffff;
  }
  
  .youtube-color-bg:hover {
    background-color: #E72463;
    color: #ffffff;
  }
  
  .vimeo-color-bg {
    background-color: #86c9ef;
    color: #ffffff;
  }
  
  .vimeo-color-bg:hover {
    background-color: #E72463;
    color: #ffffff;
  }
  
  /*-- Template Background --*/
  .black-bg {
    background: #1b1b1b;
  }
  
  .black-dark-bg {
    background: #000000;
  }
  
  .gray-bg {
    background: #f8f8f8;
  }
  
  .red {
    background: red no-repeat center;
    background-size: initial;
  }
  
  .green {
    background: green no-repeat center;
    background-size: initial;
  }
  
  .blue {
    background: blue no-repeat center;
    background-size: initial;
  }
  
  .yellow {
    background: yellow no-repeat center;
    background-size: initial;
  }
  
  .white {
    background: white no-repeat center;
    background-size: initial;
  }
  
  .gold {
    background: gold no-repeat center;
    background-size: initial;
  }
  
  /*----------------------------------------*/
  /*    04 - Layout - Header
  /*----------------------------------------*/
  /*-- Main Header Area --*/
  .main-header-area .header-logo img {
    width: 125px;
  }
  
  /* ---Sticky Header--- */
  .header-sticky.header-transparent {
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  
  @media (max-width: 767px) {
    .header-sticky.header-transparent {
      position: relative;
    }
  }
  
  .header-sticky.sticky {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
            animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
    left: 0;
    position: fixed;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 99;
  }
  
  /* ---Main Menu--- */
  .main-nav > ul > li {
    display: inline-block;
    position: relative;
    padding: 30px 0;
  }
  
  .main-nav > ul > li:hover .dropdown-hover {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  
  .main-nav > ul > li:hover .dropdown-hover-2 {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  
  .main-nav > ul > li > a {
    display: block;
    padding: 8px 16px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 18px;
    color: #000000;
  }
  
  .main-nav > ul > li > a.active {
    color: #E72463;
  }
  
  .main-nav > ul > li > a:hover {
    color: #E72463;
  }
  
  .main-nav > ul > li > a i {
    margin-left: 0px;
    font-size: 15px;
    vertical-align: middle;
  }
  
  .main-nav > ul > li > a .menu-text {
    position: relative;
  }
  
  /*--- Dropdwon ---*/
  .dropdown-submenu {
    background: #ffffff;
    padding: 20px 0 24px;
    width: 230px;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #E72463;
  }
  
  .dropdown-submenu > li > a {
    padding: 10px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    line-height: 18px;
    position: relative;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }
  
  .dropdown-submenu > li > a:hover {
    color: #E72463;
  }
  
  .dropdown-submenu > li > a.active {
    color: #E72463;
  }
  
  .dropdown-submenu > li > a > i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 2%;
    font-size: 15px;
    padding-right: 15px;
  }
  
  .dropdown-hover {
    position: absolute;
    top: 110%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s linear 0.2s;
    -o-transition: all .3s linear 0.2s;
    transition: all .3s linear 0.2s;
    z-index: 999;
  }
  
  .dropdown-hover-2 {
    position: absolute;
    top: 110%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s linear 0.2s;
    -o-transition: all .3s linear 0.2s;
    transition: all .3s linear 0.2s;
    z-index: 999;
  }
  
  /*--- Mega-Menu ---*/
  .mega-menu {
    background: #ffffff;
    width: 700px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 20px 0;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #E72463;
  }
  
  @media (max-width: 1199px) {
    .mega-menu {
      left: 100%;
    }
  }
  
  .mega-menu .menu-colum {
    width: 33.333333%;
    padding: 10px;
    float: left;
  }
  
  .mega-menu .menu-colum ul li .mega-menu-text {
    position: relative;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    display: table-caption;
    padding: 0px 20px 0px 0px;
    margin: 0px 0px 10px 20px;
  }
  
  .mega-menu .menu-colum ul li .mega-menu-text:after {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    border-bottom: 2px solid #E72463;
    content: "";
    z-index: 1;
  }
  
  .mega-menu .menu-colum ul li a {
    padding: 10px 20px;
    display: block;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }
  
  .mega-menu .menu-colum ul li a:hover {
    color: #E72463;
  }
  
  .mega-menu .menu-colum ul li a.active {
    color: #E72463;
  }
  
  /*--- Header Right Area ---*/
  .dropdown-search {
    width: 340px;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  
  @media (max-width: 479px) {
    .dropdown-search {
      width: 280px;
    }
  }
  
  .dropdown-search form input {
    width: 100%;
    display: block;
    padding: 10px 30px 10px 10px;
    border: 0px;
  }
  
  .dropdown-search form button {
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 10px;
  }
  
  .dropdown-search form button:hover {
    color: #E72463;
  }
  
  .header-right-area.main-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .header-right-area.main-nav > ul {
    position: relative;
  }
  
  .header-right-area.main-nav > ul > li {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header-right-area.main-nav > ul > li > span {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    padding-left: 15px;
    margin-left: 15px;
  }
  
  .header-right-area.main-nav > ul > li > span:before {
    left: 0;
    top: 50%;
    width: 1px;
    height: 12px;
    content: "";
    position: absolute;
    background-color: #000000;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .header-right-area.main-nav > ul > li > span:first-child {
    padding: 0px;
    margin: 0px;
  }
  
  .header-right-area.main-nav > ul > li > span:first-child:before {
    display: none;
  }
  
  .header-right-area.main-nav > ul > li > a {
    padding: 8px 0px 7px;
  }
  
  .header-right-area.main-nav > ul > li > a > i {
    font-size: 18px;
    line-height: 1;
    color: #000000;
  }
  
  .header-right-area.main-nav > ul > li > a > i:hover {
    color: #E72463;
  }
  
  .header-right-area.main-nav > ul > li.account-menu-wrap a.active {
    color: #E72463;
  }
  
  .header-right-area.main-nav > ul > li.sidemenu-wrap {
    margin-right: 30px;
  }
  
  .header-right-area.main-nav > ul > li.minicart-wrap {
    margin-right: 30px;
  }
  
  .header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn {
    position: relative;
  }
  
  .header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn i {
    font-size: 18px;
    line-height: 1;
    color: #000000;
  }
  
  .header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn i:hover {
    color: #E72463;
  }
  
  .header-right-area.main-nav > ul > li.minicart-wrap .minicart-btn .cart-item_count {
    background-color: #E72463;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    height: 18px;
    width: 18px;
    position: absolute;
    right: -10px;
    top: -5px;
  }
  
  .header-right-area.main-nav > ul > li.mobile-menu-btn a i {
    font-size: 20px;
  }
  
  .header-right-area .cart-item-wrapper {
    padding: 25px 20px;
    width: 350px;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  
  @media (max-width: 479px) {
    .header-right-area .cart-item-wrapper {
      width: 280px;
    }
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item .cart-img {
    border: 1px solid rgba(0, 0, 0, 0.07);
    margin-right: 15px;
    -webkit-flex-basis: 80px;
        -ms-flex-preferred-size: 80px;
            flex-basis: 80px;
    width: 80px;
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item .cart-text {
    -webkit-flex-basis: calc(100% - 95px);
        -ms-flex-preferred-size: calc(100% - 95px);
            flex-basis: calc(100% - 95px);
    width: calc(100% - 95px);
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item .cart-text .title {
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn .cart-qty {
    font-size: 15px;
    font-weight: 600;
    color: #303030;
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn .cart-price {
    font-size: 15px;
    font-weight: 600;
    color: #E72463;
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn button {
    font-size: 18px;
    color: #000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  
  .header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn button:hover {
    color: #E72463;
  }
  
  .header-right-area .cart-item-wrapper .cart-price-total {
    font-size: 20px;
    padding: 20px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin: 20px 0;
  }
  
  .header-right-area .cart-item-wrapper .cart-links a:not(:last-child) {
    margin-right: 5px;
  }
  
  /*----- Offcanvas Mobile Menu start -----*/
  .off-canvas-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: 9999;
  }
  
  .off-canvas-wrapper.open {
    opacity: 1;
    visibility: visible;
  }
  
  .off-canvas-wrapper.open .off-canvas-inner-content {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  
  .off-canvas-wrapper .off-canvas-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  .off-canvas-wrapper .off-canvas-inner-content {
    background-color: #ffffff;
    width: 380px;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(calc(-100% - 50px));
        -ms-transform: translateX(calc(-100% - 50px));
            transform: translateX(calc(-100% - 50px));
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  @media (max-width: 479px) {
    .off-canvas-wrapper .off-canvas-inner-content {
      width: 280px;
    }
  }
  
  .off-canvas-wrapper .btn-close-off-canvas {
    left: 92%;
    position: relative;
  }
  
  @media (max-width: 479px) {
    .off-canvas-wrapper .btn-close-off-canvas {
      left: 89.2%;
    }
  }
  
  .off-canvas-wrapper .off-canvas-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    height: 100%;
    overflow: auto;
  }
  
  /*----- Offcanvas Menu start -----*/
  .off-canvas-menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: 9999;
  }
  
  .off-canvas-menu-wrapper.open {
    opacity: 1;
    visibility: visible;
  }
  
  .off-canvas-menu-wrapper.open .off-canvas-inner-content {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  
  .off-canvas-menu-wrapper .off-canvas-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  .off-canvas-menu-wrapper .off-canvas-inner-content {
    background-color: #ffffff;
    width: 400px;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(calc(100% - 50px));
        -ms-transform: translateX(calc(100% - 50px));
            transform: translateX(calc(100% - 50px));
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    left: auto;
    right: 0;
    position: fixed;
  }
  
  .off-canvas-menu-wrapper .off-canvas-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    height: 100%;
    overflow: auto;
  }
  
  .off-canvas-menu-wrapper .offcanvas-widget-area {
    padding-top: 40px;
  }
  
  .off-canvas-menu-wrapper .offcanvas-widget-area .desc-content {
    padding-bottom: 30px;
  }
  
  .off-canvas-menu-wrapper .top-info-wrap {
    padding-bottom: 20px;
  }
  
  .btn-close-off-canvas {
    width: 30px;
    height: 30px;
    color: #000000;
    line-height: 30px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .btn-close-off-canvas i {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    font-size: 20px;
    line-height: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .btn-close-off-canvas:hover {
    color: #E72463;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .btn-close-off-canvas:hover i {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  
  .top-info-wrap {
    bottom: 0px;
    margin-top: auto;
    padding-bottom: 40px;
  }
  
  .top-info-wrap .address-info {
    margin-bottom: 20px;
  }
  
  .top-info-wrap .address-info li {
    margin-bottom: 10px;
  }
  
  .top-info-wrap .address-info li i {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .offcanvas-widget-area {
    padding: 0px 40px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  
  @media (max-width: 479px) {
    .offcanvas-widget-area {
      padding: 0 30px 20px;
    }
  }
  
  .offcanvas-widget-area .menu-top-menu > li {
    list-style: none;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  
  .offcanvas-widget-area .menu-top-menu > li > a {
    font-size: 60px;
    padding-bottom: 8px;
    color: #000000;
    line-height: 25px;
    font-family: "Great Vibes", cursive;
  }
  
  .offcanvas-widget-area .menu-top-menu > li > a:hover {
    color: #E72463;
  }
  
  .offcanvas-widget-area .switcher {
    border-top: 1px solid #e5e5e5;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  
  .offcanvas-widget-area .language {
    margin-bottom: 8px;
  }
  
  .offcanvas-widget-area .switcher-title {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    vertical-align: middle;
  }
  
  .offcanvas-widget-area .switcher-menu {
    background: none;
    display: inline-block;
  }
  
  .offcanvas-widget-area .switcher-menu > ul > li {
    list-style: none;
    position: relative;
  }
  
  .offcanvas-widget-area .switcher-menu > ul > li > a {
    background: none;
    color: #E72463;
    cursor: pointer;
    font-size: inherit;
    font-weight: normal;
    padding: 5px 15px 5px 0;
    position: relative;
    vertical-align: middle;
  }
  
  .offcanvas-widget-area .switcher-menu > ul > li > a:before {
    content: '\f107';
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .offcanvas-widget-area .switcher-dropdown {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    height: auto;
    left: 50%;
    padding: 6px 10px !important;
    position: absolute;
    top: 100%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s linear 0.2s;
    -o-transition: all .3s linear 0.2s;
    transition: all .3s linear 0.2s;
  }
  
  .offcanvas-widget-area .switcher-menu > ul > li:hover .switcher-dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  .offcanvas-widget-area .switcher-dropdown > li {
    list-style: none;
    display: block;
    border-bottom: 0 10px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .offcanvas-widget-area .switcher-dropdown > li:last-child {
    border-bottom: none;
  }
  
  .offcanvas-widget-area .switcher-dropdown > li > a {
    background: none;
    color: #555555;
    display: block;
    line-height: 33px;
    white-space: nowrap;
  }
  
  .offcanvas-widget-area .switcher-dropdown > li > a:hover {
    color: #E72463;
  }
    


/*----------------------------------------*/
/*    Shop Category
/*----------------------------------------*/
.cat-1 {
    width: 39%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 39%;
        -ms-flex: 0 0 39%;
            flex: 0 0 39%;
    max-width: none;
  }
  
  @media (max-width: 767px) {
    .cat-1 {
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
    }
  }
  
  .cat-2 {
    width: 61%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 61%;
        -ms-flex: 0 0 61%;
            flex: 0 0 61%;
    max-width: none;
  }
  
  @media (max-width: 767px) {
    .cat-2 {
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
    }
  }
  
  .cat-3 {
    width: 54%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 54%;
        -ms-flex: 0 0 54%;
            flex: 0 0 54%;
    max-width: none;
  }
  
  @media (max-width: 479px) {
    .cat-3 {
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
    }
  }
  
  .cat-4 {
    width: 46%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 46%;
        -ms-flex: 0 0 46%;
            flex: 0 0 46%;
    max-width: none;
  }
  
  @media (max-width: 479px) {
    .cat-4 {
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
    }
  }
  
  .cat-5 {
    width: 36%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 36%;
        -ms-flex: 0 0 36%;
            flex: 0 0 36%;
    max-width: none;
  }
  
  @media (max-width: 479px) {
    .cat-5 {
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
    }
  }
  
  .cat-6 {
    width: 64%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 64%;
        -ms-flex: 0 0 64%;
            flex: 0 0 64%;
    max-width: none;
  }
  
  @media (max-width: 479px) {
    .cat-6 {
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
    }
  }
  
  .categories-img {
    position: relative;
  }
  
  .categories-img > a {
    display: block;
    width: 100%;
  }
  
  .categories-img > a img {
    width: 100%;
  }
  
  .categories-img > a:hover {
    -webkit-box-shadow: 0px 10px 30px 0px #d3d3d3;
            box-shadow: 0px 10px 30px 0px #d3d3d3;
  }
  
  .categories-img:hover .categories-content {
    background: #E72463;
  }
  
  .categories-content {
    background: #ffffff;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    padding: 10px 15px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 9;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .categories-content > h3 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .categories-content > h4 {
    color: #E72463;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  .categories-img:hover .categories-content > h3,
  .categories-img:hover .categories-content > h4 {
    color: #ffffff;
  }